# Python
__pycache__/
*.egg-info/
dist/
build/
target/

# Environments
.venv/
venv/
.env

# Tools
.coverage
coverage.xml
.mypy_cache
.pytest_cache
.ruff_cache

# Documentation
site/

# Editors and OS
.vscode
.idea
.DS_Store
